body { 
	background-color: crimson;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: center;
}

li a {
  display: block;
  padding: 10px;
  background-color: darkred;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: crimson;
}

p {
	text-align: left;
	color: gold;
}
