body { 
	background-color: crimson;
}

.serif {
	font-family: Perpetua, Times, serif;
}

.sansserif {
	font-family: Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: inline-block;
  width: 300px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background-color: darkred;
}

.nav{
    border:2px solid #ffffff;
    border-width:2px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

li a:hover {
	background-color: green;
}

h1 {
	text-align: center;
	font-family: optima, serif;
	color: white;
}

h2 {
	text-align: center;
	color: forestgreen;
}

p {
	text-align: left;
	color: gold;
}
